#how-i-work {
  p {
    font-size: 18px;
    line-height: 1.57;
  }

  .focus-text,
  .focus-text a {
    color: #ea3257;
  }

  .focus-text {
    font-size: 2.6em;
  }

  .work-pillars {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .pillar {
    width: 100%;

    @media (min-width: 768px) {
      width: 33.3333%;
    }
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 15px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
    }
  }
}

.how-button {
  background: #000000;
    color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.8em;

  &:hover {
    background: #ea3257;
    text-decoration: none;
  }
}

.how-I-work {
  background-color: #07D3C3;
}

.work-promise {
  font-size: 2.6em;

  @media screen and (min-width: 60em) {
    font-size: 3.6em;
  }
}
